<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Senaka.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    <section name="trueDialog" type="TrueDialog.Configuration.TrueDialogConfigSection, TrueDialog.Client" /></configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Senaka.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>www.vpwglass.com</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>u370015874_test</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>u370015874_test</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Test1234</value>
            </setting>
            <setting name="GlassRecutPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FrameRecutPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ProductionCutPath" serializeAs="String">
                <value />
            </setting>
        </Senaka.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<trueDialog baseUrl="https://api.truedialog.com/api/v2.1/">
    <!-- TODO: Fill in with your login information. -->
    <auth username="" password="" defaultAccountId="" apiKey="" apiSecret="" />
    <!-- Try up to 3 times once every 1 second-->
    <retryPolicy type="TrueDialog.Retry.Strategy.FixedRetryStrategy" maxTries="3" interval="0:0:1" />

    <!-- Try up to 4 times retring after: .5, 1, 1.5 seconds. -->
    <!--
        <retryPolicy
            type="ThreeSeventy.Vector.Client.IncrementalRetryStrategy"
            maxTries="4"
            interval="0:0:0.5" />
        -->

    <!-- Try up to 5 times retring after: .5, 1, 2, 4 seconds -->
    <!--
        <retryPolicy
            type="ThreeSeventy.Vector.Client.ExponentialRetryStrategy"
            maxTries="5"
            interval="0:0:0.5" />
        -->
  </trueDialog></configuration>
